<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="container">
        <header class="flex">
            <a href="/">
                <h2 class="brand">Bookstore</h2>
            </a>
            <nav>
                <a href="/books">
                    <button class="btn-green">Book</button>
                </a>
            </nav>
        </header>
        <main>
            <h1 class="heading">Add Book</h1>
            <form action="/books" method="post" class="form">
                <input type="text" name="title" placeholder="Enter Book's Name">
                <textarea cols="40" rows="10" name="summary" placeholder="Add Summary"></textarea>
                <input type="number" name="pages" placeholder="Number Of Pages">
                <input type="text" name="publication" placeholder="Add Publication">
                <input type="text" name="name" placeholder="Enter Author's Name">
                <input type="email" name="email" placeholder="Enter Author's Email">
                <input type="text" name="country" placeholder="Country Of Origin">
                <button type="submit" class="btn-blue">Add Book</button>
            </form>
        </main>
    </div>
</body>
</html>