<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author's Details</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="container">
        <header class="flex">
            <a href="/">
                <h2 class="brand">Bookstore</h2>
            </a>
            <nav>
                <a href="/books">
                    <button class="btn-green">Back</button>
                </a>
            </nav>
        </header>
        <main>
            <h2 class="heading">Author's Details</h2>
            <div class="list">
                <h2><%= book.author %></h2>
                <p><%= book.email %></p>
                <p><%= book.country %></p>
            </div>
        </main>
    </div>
</body>
</html>